img {
    max-width: 100%;
  }

.btnLeft{
    position: absolute;
    right: 0px;
    width: auto;
    padding: 10px;
}

.btnBottom {
    margin:10px;
    position: absolute;
    right: 0px;
    width: auto;
    padding: 10px;
}

.form{
    margin:10px
}

.formTitle {
    font-size: 30px;
  }

  .productDetail{
    margin-left:1px;
  }

